{% extends 'layout.twig' %}
{% block content %}
    {% for item in items %}
        <div>
            <div><img src="{{ getProductImage(item.title) }}"></div>
            <div>{{ item.title }}</div>
            <div>Цена: {{ item.price }}</div>
            <div>
                <button>Купить</button>
            </div>
        </div>
    {% endfor %}
{% endblock %}
